
{% load static %}
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/socket.io.js" %}"></script>
	<script>
		$(document).ready(function(){
			$('#OnlineUsersDiv').width(($('body').width()-960)/2)
		})
	</script>
	<script>
	  if(typeof(EventSource)!=="undefined")
	  {
	  var source=new EventSource("{% url 'serversideevents' %}");
	  source.onmessage=function(event)
		{
		console.log(event.data)
		document.getElementById("result").innerHTML+=event.data + "<br>";
		};
	  }
	else
	  {
	  document.getElementById("result").innerHTML="Sorry, your browser does not support server-sent events...";
	  }
	</script>
	
	

			<div id="OnlineUsersDiv">
				
			</div>
			
			
			<div id="HomeOuterDiv">
			
			<div id="MainHeader">
			<h1>TEAM TRACK</h1>
			</div>
			
			<div id="MenuButtonsWrapper">
				<a href="{% url 'projects' %}"><div class="menuBtnBig">Projects</div></a>
				<a href="{% url 'profileslist' %}"><div class="menuBtnBig" id="profileIcon">Profiles</div></a>
				<a href="{% url 'CalenderEvents' %}"><div class="menuBtnBig">Calendar</div></a>
			</div>
			<div id="SearchBarDiv">
				<form method="get" action="{% url 'searchresults' %}">
					{{ SearchForm.as_table }}
					<button type="submit" id="searchsubmit"></button>
				</form>
				
			</div>
			<div id="Homefooter">
				Copyrights 2013 Achumen Technologies Pvt Ltd.
			</div>
		  </div>