{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load apptags %}
       {% block MainBodyWrapper %}
        <style>
          html, body, #map-canvas {
            height: 400px;
          }
        </style>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>


        <div id="page-wrapper">
       <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>


                <div class="col-lg-2 col-md-6">
                                <div class="panel panel-blue">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-file-text-o fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ new }}</div>
                                                <div>New</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'TaskTypeView' %}?type=new">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-cogs fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ inv }}</div>
                                                <div>Inspect</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'TaskTypeView' %}?type=1">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-code fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ dev }}</div>
                                                <div>Dev</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'TaskTypeView' %}?type=2">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-bullseye fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ test }}</div>
                                                <div>Testing</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'TaskTypeView' %}?type=3">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-bug fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ bug }}</div>
                                                <div>Bugs</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'TaskTypeView' %}?type=bug">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-check fa-4x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ dep }}</div>
                                                <div>Deployed</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'TaskTypeView' %}?type=4">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>





                        <!-- /.row -->


                        <!-- /.panel-heading -->
                        <!--<div class="panel-body">-->










                        <!--</div>-->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3326</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                </tr>
                                                <tr>
                                                    <td>3325</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:20 PM</td>
                                                    <td>$234.34</td>
                                                </tr>
                                                <tr>
                                                    <td>3324</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:03 PM</td>
                                                    <td>$724.17</td>
                                                </tr>
                                                <tr>
                                                    <td>3323</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:00 PM</td>
                                                    <td>$23.71</td>
                                                </tr>
                                                <tr>
                                                    <td>3322</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:49 PM</td>
                                                    <td>$8345.23</td>
                                                </tr>
                                                <tr>
                                                    <td>3321</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:23 PM</td>
                                                    <td>$245.12</td>
                                                </tr>
                                                <tr>
                                                    <td>3320</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:15 PM</td>
                                                    <td>$5663.54</td>
                                                </tr>
                                                <tr>
                                                    <td>3319</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:13 PM</td>
                                                    <td>$943.45</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                {% for track in timelineObj %}
                                {% if track.status.id == 1 or track.status.id == 3  %} <!-- normal time line. occurs on the right -->
                                 <li>
                                     {% if track.timelineCheck == "c" %}
                                        {% if track.status.id == 1 %}
                                            <div class="timeline-badge info" ><i style="margin-top:6px" class="fa fa-cogs fa-2x"></i></div>
                                        {% elif track.status.id == 2 %}
                                            <div class="timeline-badge warning" ><i style="margin-top:6px" class="fa fa-code fa-2x"></i></div>
                                        {% elif track.status.id == 3 %}
                                            <div class="timeline-badge danger" ><i style="margin-top:6px" class="fa fa-bullseye fa-2x"></i></div>
                                        {% elif track.status.id == 4 %}
                                            <div class="timeline-badge success"><i style="margin-top:6px" class="fa fa-check fa-2x"></i></div>
                                        {% endif %}
                                    {% elif track.timelineCheck == "b" %}
                                        <div class="timeline-badge danger" ><i style="margin-top:6px" class="fa fa-bug fa-2x"></i></div>
                                     {% elif track.timelineCheck == "" %}
                                        <div class="timeline-badge" ><i style="margin-top:6px" class="fa fa-file-text-o fa-2x"></i></i></div>
                                    {% endif %}


                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h6 class="pull-right">{{ track.owner.first_name }} {{ track.owner.last_name }}</h6>
                                            <h4 class="timeline-title">{{ track.taskid.TaskTitle|truncatechars:9 }}</h4>

                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i>{{ track.date|naturalday }}</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{ track.notes }}</p>
                                        </div>
                                    </div>
                                </li>

                                {% else %}

                                 <li class="timeline-inverted">

                                     {% if track.timelineCheck == "c" %}
                                        {% if track.status.id == 1 %}
                                            <div class="timeline-badge info" ><i style="margin-top:6px" class="fa fa-cogs fa-2x"></i></div>
                                        {% elif track.status.id == 2 %}
                                            <div class="timeline-badge warning" ><i style="margin-top:6px" class="fa fa-code fa-2x"></i></div>
                                        {% elif track.status.id == 3 %}
                                            <div class="timeline-badge danger" ><i style="margin-top:6px" class="fa fa-bullseye fa-2x"></i></div>
                                        {% elif track.status.id == 4 %}
                                            <div class="timeline-badge success"><i style="margin-top:6px" class="fa fa-check fa-2x"></i></div>
                                        {% endif %}
                                    {% elif track.timelineCheck == "b" %}
                                        <div class="timeline-badge danger" ><i style="margin-top:6px" class="fa fa-bug fa-2x"></i></div>
                                     {% elif track.timelineCheck == "" %}
                                        <div class="timeline-badge" ><i style="margin-top:6px" class="fa fa-file-text-o fa-2x"></i></i></div>

                                    {% endif %}
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h6 class="pull-right">{{ track.owner.first_name }} {{ track.owner.last_name }}</h6>
                                            <h4 class="timeline-title">{{ track.taskid.TaskTitle|truncatechars:9 }}</h4>

                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i>{{ track.date|naturalday }}</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{ track.notes }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}





                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Tasks Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">

                                {% for task in tasksPending %}
                                <a href="{% url 'tasksdetail' task.id %}" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> {{ task }}
                                    <span class="pull-right text-muted small"><em>{{ task.EndDate.date|subtractDates }}</em>
                                    </span>
                                </a>
                                {% endfor %}
                               
                            </div>
                            <!-- /.list-group -->
                            <a href="{% url 'tasks' %}" class="btn btn-default btn-block">View All Tasks</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="map-canvas"></div>
                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <script>
            $(function(){
                $(".timeline-badge").click(function(){
                    var url = "{% url 'getTaskStatus' %}?status="+$(this).attr('name');
                    alert(url)
                    window.location.href = url;
                })
            })





        </script>

{% endblock MainBodyWrapper %}