{% extends "base.html" %}
{% load static %}
{% block extraHeaders %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.raty.min.js" %}"></script>
<script>
	$(document).ready(function(){
		$('#star').raty({ 
			score: 3,
			path: '{% static 'images' %}' 
		});
	})
</script>
{% endblock extraHeaders %}

{% block maincontent %}
{{ object.id }}
{{ object.username }}



<a href="{% url 'ViewResume' %}">View Resume</a>
<div id="star" data-score="1"></div>
<h2>Currently working on </h2>

{% for task in DevelopersTask %}
	<a href="{% url 'taskdetail' task.id %}">{{ task.TaskTitle }}</a> as developer project: <a href="{% url 'projectsdetail' task.ProjectId.id %}">{{ task.ProjectId.Title }}</a> <br>
{% endfor %}
<hr>
{% for task in DesignersTask %}
	<a href="{% url 'taskdetail' task.id %}">{{ task.TaskTitle }}</a> as designer project: <a href="{% url 'projectsdetail' task.ProjectId.id %}">{{ task.ProjectId.Title }}</a> <br>
{% endfor %}
</div>

{% endblock maincontent %} 