{% extends "base.html" %}
{% block MainBodyWrapper %}
 <div id="page-wrapper">
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Events</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
 <div class="col-lg-12">
        <table>
	{% for profile in Profiles_list %}

	<tr>
		<td>
			{{ profile.username }}
		</td>
		<td>
			<a href="{% url 'profilesdetail' profile.id %}">View profile</a>
		</td>
		<td>
			<a href="{% url 'userUpdates' profile.id %}">updates</a>
		</td>
	</tr>


{% endfor %}


</table>
     </div>
              </div>
     </div>

{% endblock MainBodyWrapper %}