{% extends "base.html" %}
{% load static %}
{% block extraHeaders %}
<link href='{% static 'css/fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
<link href='{% static 'css/fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
<script src='{% static 'js/fullcalendar/jquery.min.js' %}'></script>
<script src='{% static 'js/fullcalendar/jquery-ui.custom.min.js' %}'></script>
<script src='{% static 'js/fullcalendar/fullcalendar.min.js' %}'></script>
<script>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: false,
			events: [    			     
			     {
			    	 title : '{{ object.Title }}',
			     	 start: new Date({{ object.StartDate|date:"Y" }}, {{ object.StartDate|date:"m" }}-1, {{ object.StartDate|date:"d" }}),
			     	 end: new Date({{ object.EndDate|date:"Y" }}, {{ object.EndDate|date:"m" }}-1, {{ object.EndDate|date:"d" }})
			     }
			]
		});
		
	});

</script>

			<script type="text/javascript">
$(function () {
	
	
	
    $('#container').highcharts({
	
	    chart: {
	        type: 'gauge',
	        plotBackgroundColor: null,
	        plotBackgroundImage: null,
	        plotBorderWidth: 0,
	        plotShadow: false
	    },
	    
	    title: {
	        text: 'Speedometer'
	    },
	    
	    pane: {
	        startAngle: -150,
	        endAngle: 150,
	        background: [{
	            backgroundColor: {
	                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
	                stops: [
	                    [0, '#FFF'],
	                    [1, '#333']
	                ]
	            },
	            borderWidth: 0,
	            outerRadius: '109%'
	        }, {
	            backgroundColor: {
	                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
	                stops: [
	                    [0, '#333'],
	                    [1, '#FFF']
	                ]
	            },
	            borderWidth: 1,
	            outerRadius: '107%'
	        }, {
	            // default background
	        }, {
	            backgroundColor: '#DDD',
	            borderWidth: 0,
	            outerRadius: '105%',
	            innerRadius: '103%'
	        }]
	    },
	       
	    // the value axis
	    yAxis: {
	        min: 0,
	        max: 200,
	        
	        minorTickInterval: 'auto',
	        minorTickWidth: 1,
	        minorTickLength: 10,
	        minorTickPosition: 'inside',
	        minorTickColor: '#666',
	
	        tickPixelInterval: 30,
	        tickWidth: 2,
	        tickPosition: 'inside',
	        tickLength: 10,
	        tickColor: '#666',
	        labels: {
	            step: 2,
	            rotation: 'auto'
	        },
	        title: {
	            text: 'km/h'
	        },
	        plotBands: [{
	            from: 0,
	            to: 120,
	            color: '#55BF3B' // green
	        }, {
	            from: 120,
	            to: 160,
	            color: '#DDDF0D' // yellow
	        }, {
	            from: 160,
	            to: 200,
	            color: '#DF5353' // red
	        }]        
	    },
	
	    series: [{
	        name: 'Speed',
	        data: [80],
	        tooltip: {
	            valueSuffix: ' km/h'
	        }
	    }]
	
	}, 
	// Add some life
	function (chart) {
		if (!chart.renderer.forExport) {
		    setInterval(function () {
		        var point = chart.series[0].points[0],
		            newVal,
		            inc = Math.round((Math.random() - 0.5) * 20);
		        
		        newVal = point.y + inc;
		        if (newVal < 0 || newVal > 200) {
		            newVal = point.y - inc;
		        }
		        
		        point.update(newVal);
		        
		    }, 3000);
		}
	});
});
		</script>

{% endblock extraHeaders %}

{% block maincontent %}
<h3>Projects detail</h3>
{{ object.Title }}
{{ object.IsCompleted }}
{{ object.StartDate }}
{{ object.EndDate }}
<h3>Tasks<span class="h3link"><a href="{% url 'createtasks' %}">Create Task</a></span></h3>

{% if Tasks %}
<table id="tblList">
<tr>
	<th>
		Task title
	</th>
	<th>
		status
	</th>
	<th>
		developer
	</th>
</tr>
{% for task in Tasks %}
	<tr class="hovereffect" >	
		<td>
			<a href="{% url 'taskdetail' task.id %}" style="text-decoration:none">{{ task }}</a>
		</td>
		<td>
			<a href="{% url 'taskdetail' task.id %}" style="text-decoration:none">{{ task.Status }}</a>
		</td>
		<td>
			<a href="{% url 'taskdetail' task.id %}" style="text-decoration:none">{{ task.Developer }}</a>
		</td>
		<td>
			{% if task.Status.id == 4 %}
			<div class="signal" style="background-color:green;"></div>
			{% elif task.Status.id == 3 %}
			<div class="signal" style="background-color:orange;"></div>
			{% else %}
			<div class="signal" style="background-color:red;"></div>
			{% endif %}
		</td>
</tr>
{% endfor %}
	</table>
{% if object.IsCompleted == False %}

{% else %}
<h2>This project has been closed</h2>
{% endif %}

<h3>Graph</h3>

<script src="{%static "js/highcharts.js" %}"></script>
<script src="{%static "js/highcharts-more.js" %}"></script>
<script src="{%static "js/modules/exporting.js" %}"></script>

<div id="container" ></div>

<h3>Event</h3>
<div id='calendar'></div>
{% else %}
<h2 style="margin:20 auto">No tasks have been created for this project <br> <a href="{% url 'createtasks' %}">Create Task</a> ?</h2>
{% endif %}
{% endblock maincontent %}

