{% extends "base.html" %}
{% block maincontent %}

<h2>search results</h2>
{% if object_list %}

	{% for obj in object_list %}
	{% if obj.username %}
	<p><a href="{% url 'profileslistdetail' obj.id %}">{{ obj.username }}</a></p>
	{% endif %}
	{% if obj.Title %}
	<p><a href="{% url 'projectsdetail' obj.id  %}">{{ obj.Title }}</a></p>	
	{% endif %}
	{% if obj.TaskTitle %}
	<p><a href="{% url 'taskdetail' obj.id %}">{{ obj.TaskTitle }}</p>
	{% endif %}
	{% endfor %}
	
	
{% else %}
	<h4>No results found for your search</h4>
{% endif %}
{% endblock maincontent %}