{% extends "base.html" %}
{% load static %}
{% load apptags %}

        {% block MainBodyWrapper %}


            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div >
                        <h1 class="page-header">
                            Tasks
                        </h1>
                        <ol class="breadcrumb">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li class="active">Tasks</li>
                    </ol>

                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">

                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            To Do
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" id="dataTables-example">
                                    <thead>

                                        <tr>
                                            <th>Title</th>
                                            <th>Project</th>
                                            <th>Owner</th>
                                            <th>Details</th>
                                            <th>progress</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        {% for Task in Tasks %}
                                       <tr>
                                            <td>{{ Task.TaskTitle }}</td>
                                           <td>{{ Task.ProjectId.Title }}</td>
                                            <td>{{ Task.Owner }}</td>



                                           <td><a href="{% url 'tasksdetail' Task.id %}">View</a></td>
                                           <td>
                                           <div class="progress progress-striped active">
                                                {% if Task.Status.id == 1 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                </div>
                                                {% elif Task.Status.id == 2 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                </div>
                                                {% elif Task.Status.id == 3 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                </div>
                                                {% elif Task.Status.id == 4 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                                </div>
                                                {% endif %}
                                            </div>
                                           </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->



                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Create Task
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        {{ CreateTaskForm.as_p }}
                       <div class="progress-button">
                            <button id="CreateTaskBtn"><span>Create Task</span></button>
                            <svg class="progress-circle" width="70" height="70"><path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/></svg>
                            <svg class="checkmark" width="70" height="70"><path d="m31.5,46.5l15.3,-23.2"/><path d="m31.5,46.5l-8.5,-7.1"/></svg>
                            <svg class="cross" width="70" height="70"><path d="m35,35l-9.3,-9.3"/><path d="m35,35l9.3,9.3"/><path d="m35,35l-9.3,9.3"/><path d="m35,35l9.3,-9.3"/></svg>
                        </div>
                    </form>
                            </div>

                </div>
                </div>


            </div>
            <!-- /.row -->


             <div class="row">
                 <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                 </div>
                 <!-- /.row -->




    <!-- Core Scripts - Include with every page -->


    <script src="{% static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>

    <script src='{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}'></script>
     <script src='{% static 'js/plugins/morris/morris.js' %}'></script>

     <script>
                $(function(){
                    Morris.Donut({
                        element: 'morris-donut-chart',
                        data: {% autoescape off %}{{ Tasks.0.ProjectId.id|BuildDonutGraph }}{% endautoescape %} ,
                        resize: true
                    });
                });
            </script>


    <script>
    $(document).ready(function() {

        $("#tasksTab").addClass("Active")
        $("#tasksTab a").bind('click', false);
        $('#dataTables-example').dataTable();


        "{% url 'CreateTask' %}"


    });
    </script>
{% endblock MainBodyWrapper %}