{% extends "base.html" %}
{% load static %}
        {% block extraHeaders %}

  <link href='{% static 'fullcalendar/fullcalendar.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />
<script src='{% static 'fullcalendar/lib/moment.min.js' %}'></script>
<script src='{% static 'fullcalendar/lib/jquery.min.js' %}'></script>
<script src='{% static 'fullcalendar/lib/jquery-ui.custom.min.js' %}'></script>
<script src='{% static 'fullcalendar/fullcalendar.min.js' %}'></script>
<script>

	$(document).ready(function() {

        $("#TaskStatus").val({{ object.Status.id }})
        if($("#Messages").html() != "")
        {
            $("#Messages").fadeOut(2000)
        }

        $("#TaskStatus").change(function(){
            $("#ProgressBar").removeClass()
            switch($(this).val())
            {
                case "1":
                    $("#ProgressBar").addClass('progress-bar progress-bar-danger')
                    $("#ProgressBar").css({'width':'20%'})
                    break;
                case "2":
                    $("#ProgressBar").addClass('progress-bar progress-bar-warning')
                    $("#ProgressBar").css({'width':'40%'})
                    break;
                case "3":
                    $("#ProgressBar").addClass('progress-bar progress-bar-info')
                    $("#ProgressBar").css({'width':'60%'})
                    break;
                case "4":
                    $("#ProgressBar").addClass('progress-bar progress-bar-success')
                    $("#ProgressBar").css({'width':'80%'})
                    break;
            }


        })


		var calendar = $('#calendar')
		calendar.fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			//defaultDate: '2014-06-12',
			editable: true,
			events: [
				{
					title: 'Task : {{ object.TaskTitle }}',
					start: '{{ object.StartDate|date:"Y-m-d" }}',
					end: '{{ object.EndDate|date:"Y-m-d" }}'
				},
				{
					title: 'Project : {{ object.ProjectId.Title }}',
					start: '{{ object.ProjectId.StartDate|date:"Y-m-d" }}',
					end: '{{ object.ProjectId.EndDate|date:"Y-m-d" }}'
				}
			]
		});

	});

</script>

        {% endblock extraHeaders %}
{% block MainBodyWrapper %}

        <div id="page-wrapper">

             <div class="col-lg-6">



                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div id="Messages" class="alert alert-success">
                        {{ message }}
                    </div>
                    {% elif message.tags == 'info' %}
                    <div id="Messages" class="alert alert-info">
                        {{ message }}
                    </div>
                    {% elif message.tags == 'error' %}
                    <div id="Messages" class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                 </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ object }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Task Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           <div class="table-responsive">
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <th>Project</th>
                                            <td>{{ object.ProjectId.Title }}</td>
                                        </tr>
                                        <tr>
                                            <th>TaskId</th>
                                            <td>{{ object.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Task title</th>
                                            <td>{{ object.TaskTitle }}</td>
                                        </tr>
                                        <tr>
                                            <th>Owner</th>
                                            <td>{{ object.Developer }}</td>
                                        </tr>
                                        <tr>
                                            <th>Task status</th>
                                            <td>{{ object.Status }}</td>
                                        </tr>
                                        <tr>
                                            <th>Started on</th>
                                            <td>{{ object.StartDate }}</td>
                                        </tr>
                                        <tr>
                                            <th>Ends on</th>
                                            <td>{{ object.EndDate }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        </div>

                <!-- /.col-lg-12 -->

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Task Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        <div class="form-group">
                            <div class="progress progress-striped active">
                                {% if object.Status.id == 1 %}
                                <div id="ProgressBar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                </div>
                                {% elif object.Status.id == 2 %}
                                <div id="ProgressBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                </div>
                                {% elif object.Status.id == 3 %}
                                <div id="ProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                </div>
                                {% elif object.Status.id == 4 %}
                                <div id="ProgressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                </div>
                                {% endif %}
                            </div>
                            <form method="post" action="{% url 'CreateTimelineEvent' %}" >{% csrf_token %}
                            {{ TimelineTaskUpdatesForm.as_p }}
                                <input name="taskid" type="hidden" value="{{ object.id }}">
                                <input name="owner" type="hidden" value="{{ request.user }}">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                            </form>
                        </div>

                </div>
                        </div>
                    </div>
            </div>

            <!-- end row form -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <ul class="timeline">

                                {% for track in Timeline %}
                                {% if track.status.id == 1 or track.status.id == 3  %} <!-- normal time line. occurs on the right -->
                                 <li>
                                    {% if track.timelineCheck == "c" %}
                                        {% if track.status.id == 1 %}
                                            <div class="timeline-badge"><i class="fa fa-check"></i></div>
                                        {% elif track.status.id == 2 %}
                                            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i></div>
                                        {% elif track.status.id == 3 %}
                                            <div class="timeline-badge danger"><i class="fa fa-credit-card"></i></div>
                                        {% elif track.status.id == 4 %}
                                            <div class="timeline-badge info"><i class="fa fa-save"></i></div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ track.taskid.TaskTitle }}</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{ track.notes }}</p>
                                        </div>
                                    </div>
                                </li>

                                {% else %}

                                 <li class="timeline-inverted">
                                    {% if track.timelineCheck == "c" %}
                                        {% if track.status.id == 1 %}
                                            <div class="timeline-badge"><i class="fa fa-check"></i></div>
                                        {% elif track.status.id == 2 %}
                                            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i></div>
                                        {% elif track.status.id == 3 %}
                                            <div class="timeline-badge danger"><i class="fa fa-credit-card"></i></div>
                                        {% elif track.status.id == 4 %}
                                            <div class="timeline-badge info"><i class="fa fa-save"></i></div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ track.taskid.TaskTitle }}</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{ track.notes }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}





                                {% endfor %}


                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
        </div>
     </div>
             <div class="row">
                <div class="col-lg-8">
                    <h1 class="page-header">Calendar</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id='calendar'></div>
                </div>
            </div>
            </div>





{% endblock MainBodyWrapper %}