{% extends "base.html" %}
{% load static %}
{% block extraHeaders %}
<link rel="stylesheet" href="{% static "css/style.css" %}">

  <link rel="stylesheet" href="{% static "css/prettify.css" %}">
  <link rel="stylesheet" href="{% static "css/morris.css" %}">
  
  
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/raphael-min.js" %}"></script>
  <script src="{% static "js/morris.js" %}"></script>
  <script src="{% static "js/prettify.js" %}"></script>
  <script src="{% static "js/example.js" %}"></script>
<script type="text/javascript" charset="utf-8">
						
			$(document).ready(function() {
			
				
				$(".clicktomail").click(function(){
					var h =500;
					var w = 500;
					var left = (screen.width/2)-(w/2);
  					var top = (screen.height/2)-(h/2);
  					return window.open('{% url 'mail' %}','Mail', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
				})
				
			});
		</script>
{% endblock extraHeaders %}

{% block maincontent %}



		


	<div class="minimizingDiv">
		
		
		<h3>Project details</h3>
			<p><span class="boldHeader">Project :</span> {{ TaskTrack.0.project.Title }}</p>
			<p><span class="boldHeader">Client :</span> {{ TaskTrack.0.project.Client }}</p>
			<p><span class="boldHeader">Task :</span> {{ TaskTrack.0.taskid.TaskTitle }}</p>
			
			
			
		<h3>Track</h3>
		<div id="tracking">
			{% for track in TaskTrack %}
			<table>
				<tr>	
					<td>{{ track.owner }}</td>
				</tr>
				<tr>	
					<td>{{ track.status }}</td>
				</tr>
				<tr>
					<td>{{ track.date }}</td>
				</tr>
				
			</table>
			{% endfor %}
		</div>
			
			
			
			<h3>Task Details</h3>

		<form action="" method="POST">{% csrf_token %}
	

			<table>
				<input type="hidden" value="{{ TaskTrack.0.project.id }}" name="ProjectId">
				<tr>
					<td class="boldHeader">Title:</td><td>{{ form.TaskTitle }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Description:</td><td>{{ form.Description }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Requirement:</td><td>{{ form.Requirement }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Owner:</td><td>{{ form.Owner }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Developer:</td><td>{{ form.Developer }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Status:</td><td>{{ form.Status }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Start date:</td><td>{{ form.StartDate }}</td>
				</tr>
				<tr>
					<td class="boldHeader">End date:</td><td>{{ form.EndDate }}</td>
				</tr>
				
			</table>
		
			<button type="submit">Update</button>
			</form>
			
			<h3>Graph</h3>
			
			<div id="graph"></div>
			<pre id="code" style="display:none">
			// Use Morris.Area instead of Morris.Line
			Morris.Area({
			  element: 'graph',
			  behaveLikeLine: true,
			  data: [
			    {x: '2011 Q1', y: 3, z: 3},
			    {x: '2011 Q2', y: 2, z: 1},
			    {x: '2011 Q3', y: 2, z: 4},
			    {x: '2011 Q4', y: 3, z: 3}
			  ],
			  xkey: 'x',
			  ykeys: ['y', 'z'],
			  labels: ['Y', 'Z']
			});
			</pre>
			
			
		</div>
		
		
		
		
		
		
	</div>



{% endblock maincontent %} 

