{% extends "base.html" %}
{% load static %}
{% block extraHeaders %}
<link rel="stylesheet" href="{% static "css/style.css" %}">


  <link rel="stylesheet" href="{% static "css/prettify.css" %}">
  <link rel="stylesheet" href="{% static "css/morris.css" %}">
  
  
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>



<script type="text/javascript" charset="utf-8">
						
			$(document).ready(function() {
			
				
				$(".clicktomail").click(function(){
					var h =500;
					var w = 500;
					var left = (screen.width/2)-(w/2);
  					var top = (screen.height/2)-(h/2);
  					return window.open('{% url 'mail' %}','Mail', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
				})
				
			
			$('#container').highcharts({
            title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: [{% for track in TaskTrack %}'{{ track.date }}',{% endfor %}]
            },
            yAxis: {
                title: {
                    text: 'Temperature (deg)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'deg'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Tokyo',
                data: [{% for track in TaskTrack %}{{ track.status.id }},{% endfor %}]
            }, {
                name: 'New York',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }]
        });
				
			})
		</script>
		
		
		
		
{% endblock extraHeaders %}

{% block maincontent %}



		


	<div class="minimizingDiv">
		
		
		<h3>Project details<span  class="h3link"><a href="{% url 'projectsdetail' Tasks_detail.ProjectId.id %}">One step back</a></span></h3>
			
			
			<div id="task_projectDetails">
			<span class="boldHeader">Project :</span> {{ Tasks_detail.ProjectId.Title }}</p>
			<p><span class="boldHeader">Client :</span> {{ Tasks_detail.ProjectId.Client }}&nbsp&nbsp<span class="clicktomail"><img src="{% static "images/mail.ico" %}" width="24px"></span></p>
			<p><span class="boldHeader">Task :</span> {{ TaskTrack.0.taskid.TaskTitle }}</p>
			</div>
			<div class="signalLights">
				{% if Tasks_detail.Status.id == 3 %}
				<div class="signalBig" style="background-color:black;"></div>
				<div class="signalBig" style="background-color:orange;"></div>
				<div class="signalBig" style="background-color:black;"></div>
				{% elif Tasks_detail.Status.id == 5 %}
				<div class="signalBig" style="background-color:black;"></div>
				<div class="signalBig" style="background-color:black;"></div>
				<div class="signalBig" style="background-color:green;"></div>
				{% else %}
				<div class="signalBig" style="background-color:red;"></div>
				<div class="signalBig" style="background-color:black;"></div>
				<div class="signalBig" style="background-color:black;"></div>
				{% endif %}
			</div>
			
		<h3>Track</h3>
		<div id="tracking">
			{% for track in TaskTrack %}
			<table>
				<tr>	
					<td>{{ track.owner }}</td>
				</tr>
				<tr>	
					<td>{{ track.status }}</td>
				</tr>
				<tr>
					<td>{{ track.date }}</td>
				</tr>
				
			</table>
			{% endfor %}
		</div>
			
			
			
			<h3>Task Details<span class="h3link"><a href="{% url 'taskupdate' Tasks_detail.id  %}">Edit task</a></span></h3>
			<table>
				<tr>
					<td class="boldHeader">Title:</td><td>{{ Tasks_detail.TaskTitle }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Description:</td><td>{{ Tasks_detail.Description }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Requirement:</td><td>{{ Tasks_detail.Requirement }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Owner:</td><td>{{ Tasks_detail.Owner }}&nbsp&nbsp<span class="clicktomail"><img src="{% static "images/mail.ico" %}" width="24px"></span></td>
				</tr>
				<tr>
					<td class="boldHeader">Developer:</td><td>{{ Tasks_detail.Developer }}&nbsp&nbsp<span class="clicktomail"><img src="{% static "images/mail.ico" %}" width="24px"></span></td>
				</tr>
				<tr>
					<td class="boldHeader">Status:</td><td>{{ Tasks_detail.Status }}</td>
				</tr>
				<tr>
					<td class="boldHeader">Start date:</td><td>{{ Tasks_detail.StartDate }}</td>
				</tr>
				<tr>
					<td class="boldHeader">End date:</td><td>{{ Tasks_detail.EndDate }}</td>
				</tr>
				
				
			</table>
		
			
			<h3>Graph</h3>
			<script src="{% static "js/highcharts.js" %}"></script>
			<script src="{% static "js/modules/exporting.js" %}"></script>

			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			
			
			
		</div>
		
		
		
		
		
		
	</div>



{% endblock maincontent %} 
