{% extends "base.html" %}
{% load static %}
{% load apptags %}

        {% block MainBodyWrapper %}


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tasks</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Create Task
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                    <form method="post" action="{% url 'CreateTask' %}">{% csrf_token %}
                        {{ CreateTaskForm.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                    </form>
                            </div>

                </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            To Do
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" id="dataTables-example">
                                    <thead>

                                        <tr>
                                            <th>Title</th>
                                            <th>Project</th>
                                            <th>Owner</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                            <th>progress</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        {% for Task in Tasks %}
                                       <tr>
                                            <td>{{ Task.TaskTitle }}</td>
                                           <td>{{ Task.ProjectId.Title }}</td>
                                            <td>{{ Task.Owner }}</td>
                                            <td>{{ Task.Status }}</td>


                                           <td><a href="{% url 'tasksdetail' Task.id %}">View</a></td>
                                           <td>
                                           <div class="progress progress-striped active">
                                                {% if Task.Status.id == 1 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                </div>
                                                {% elif Task.Status.id == 2 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                </div>
                                                {% elif Task.Status.id == 3 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                </div>
                                                {% elif Task.Status.id == 4 %}
                                                <div id="ProgressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                                </div>
                                                {% endif %}
                                            </div>
                                           </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->
             <div class="row">
                 <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                 </div>
                 <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


    <!-- Core Scripts - Include with every page -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>

    <script src="{% static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>



    <script src='{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}'></script>
     <script src='{% static 'js/plugins/morris/morris.js' %}'></script>

     <script>
                $(function(){
                    Morris.Donut({
                        element: 'morris-donut-chart',
                        data: {% autoescape off %}{{ Tasks.0.ProjectId.id|BuildDonutGraph }}{% endautoescape %} ,
                        resize: true
                    });
                });
            </script>


    <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();



    });
    </script>
{% endblock MainBodyWrapper %}