body
{
	margin:0;
	background:#F0EFE7;
}
#headerMainBtns
{
	width:100%;
	height:50px;
	margin:auto;
	background:aqua;
}

.menuBtnBig
{
	width:100px;
	height:100px;
	border:thin black solid;
	border-radius:10px;
	padding:2px;
	display:inline-block;
}

.menuBtnSmall
{
	width:100px;
	height:30px;
	display:inline-block;
	text-align:center;
}

#OuterDiv
{
	width:960px;
	margin:auto;
	background:#FCFCFA;
	
}

.h3link
{
	float:right;
	font-size:15;
	font-weight:normal;
}

#calendar {
		width: 900px;
		margin: 0 auto;
		}

.HomeOuterDiv
{
	width:960px;
	margin:10 auto;
	padding:5px;
	border-radius:15px;
	background:orange;/*#FCFCFA;*/
}
.clicktomail img
{
	position:absolute;
}
.clicktomail:hover
{
	cursor:pointer;
}
#MainHeader
{
	text-align:center;
}
#MainHeader h1
{
	color:#0388A6;
	height:50px;
	font-size:50px;
}

.menuAlign
{
	padding:10px;
	display:inline-block;
}

#menus
{
	height:50px;
	width:100%;
	background-color:orange;
}
#navmenus
{
	height:50px;
	width:100%;
	background-color:orange;
}
#SearchBarDiv
{
	text-align:center;
}
#MainSearchBar
{
	width:500px;
	height:50px;
	border-radius: 10px;
	margin:auto;
	font-size:25px;
}
#BaseSearchBar
{
	width:100%;
	height:30px;
	border-radius: 10px;
	margin:auto;
	font-size:15px;
}

#BaseSearchsubmit
{
	width:30px;
	height:35px;
	border:none;
	background: url('../images/remote_search_extraSmall.png') no-repeat;
	position:absolute;	
	border-radius:15px;
}
#BaseSearchBarDiv
{
	width:52%;
}
#mainBaseHeader
{
	
	width:20%;
	font-size:28px;
	font-weight:bold;
}

#mainBaseHeader a
{
	text-decoration:none;
	color:#FFFFFF;
}

.menuBtnHolder
{
	width:960px;
	margin:auto;
	text-align:center;
}
.navBtnHolder
{
	width:960px;
	margin:auto;
	text-align:center;
	background-color:#000000;
}
#tblList
{
	width:100%;
	text-align:center;
}

#tblList th
{
	border-bottom:thin black solid;
}
#mainContentHolder h1,#mainContentHolder h3
{
	margin:20 auto;
}


.signal
{
	width:10px;
	height:10px;
	border-radius:20px;
}

.signalBig
{
	width:30px;
	height:30px;
	margin:auto;
	border-radius:20px;
}
.signalLights
{
	width:40px;
	text-align:center;
	display:inline-block;
	border: thin black solid;
	border-radius:5px;
	padding:2px;
}
#task_projectDetails
{
	width:900px;
	display:inline-block;
}
.navBtnHolder a
{
	color:#FFFFFF;
}

#userWelcome
{
	width:20%;
	text-align:center;
	color:#FFFFFF;
}
#searchsubmit
{
	width:50px;
	height:55px;
	border:none;
	background: url('../images/remote_search_small.png') no-repeat;
	position:absolute;	
	border-radius:15px;
}

#searchsubmit img
{
	width:50px;
}

#OuterDiv h3 
{
	background:rgba(223, 221, 213, 0.33);
}

.nomargin
{
	margin:0;
} 

.minimizingDiv,.minimize
{
	margin:0;
}

#menu
{
	width:100px;
	height:500px;
	position:fixed;
	float:left;
	margin-left:10px;
}


.navigation_buttons
{
	width:100%;
	height:65px;
	margin-top:5px;
	font-size:12px;
	background: #2f2f2f;
	text-align: center;
	font-weight:bold;
	display: block;
	border-radius:5px;
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
}

#OnlineUsersDiv
{
	height:500px;
	margin-top:50px;
	overflow:auto;
	position:fixed;
	right:0;
	top:0;
	background:rgba(223, 221, 213, 0.33);
}


.OnlineUsers
{
	width:100%;
	height:50px;
	background:#c0c0c0;
}

.outerTbl
{
	width:800px;
	margin:auto;
	border:thin black solid;
	text-align:center;
}

.outerTbl td
{
	border:thin black solid;
}

.outerBox p
{
	font-size:14px;
}

#tracking 
{
	margin:auto;
	width:800px;
}
#tracking table
{
	width:150px;
	display:inline-block;
	border:thin black solid;
	border-radius:15px;
	padding:2px;
	font-size:12px;
}
.boldHeader
{
	font-weight:bold;
}

#editTask
{
	float:right;
}
footer
{
	background:gray;
	text-align:center;
}
#Homefooter
{
	text-align:center;
	width:960px;
	margin:auto;
}

#loggedinDetails
{
	width:200px;
	border-right:thin black solid;
	display:inline-block;
}
#mapholder
{
	width:600px;
	text-align:center;
	display:inline-block;
}
.hovereffect:hover
{
	background:orange;
}

#mapholder
{
	margin:auto;
}

#MenuButtonsWrapper
{
	width:350px;
	margin:auto;
	height:120px;
}

#MenuButtonsWrapper a
{
	text-decoration:none;
}


